@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Roboto&display=swap");
body {
  margin: 0;
}

header {
  background-image: url(img/cases/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "wrap-logo header-menu" ". header-title" ". header-subtitle";
  -ms-grid-rows: 35% 24% 37%;
      grid-template-rows: 35% 24% 37%;
  -ms-grid-columns: 58% 42%;
      grid-template-columns: 58% 42%;
  height: 775px;
}

nav {
  margin: 0;
  padding-top: 10%;
  width: 100%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  grid-area: header-logo;
}

.header-menu {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-menu;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline;
  padding-right: 10%;
}

.header-menu a {
  text-decoration: none;
  color: black;
}

.header-menu a:hover {
  color: #16c1f3;
}

.wrap-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wrap-logo;
  padding-top: 8%;
  padding-left: 10%;
}

.case__definition {
  padding-top: 5%;
  text-align: center;
}

.case__definition__title {
  font-family: PlayfairDisplay;
  font-size: 48px;
  font-weight: normal;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 2%;
}

.blue-line-center {
  width: 3%;
  height: 15px;
  border-bottom: 1px solid #58d3f6;
  margin: 0 auto;
}

.case__definition__subtitle {
  width: 60%;
  margin: 0 auto;
  padding-top: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  color: #666666;
}

.case__intro__img {
  margin-top: 5%;
  background-image: url(img/cases/second.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  margin-bottom: 5%;
}

.case__done {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1%;
  -ms-grid-columns: 49.5% 49.5%;
      grid-template-columns: 49.5% 49.5%;
  -ms-grid-rows: 49.5% 49.5%;
      grid-template-rows: 49.5% 49.5%;
  height: 140vh;
}

.case__done__img1 {
  background-image: url(img/cases/done_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.case__done__img2 {
  background-image: url(img/cases/done_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.case__done__desc1 {
  background-color: #fafafa;
}

.case__done__desc1__title {
  padding-left: 10%;
  padding-top: 17%;
  font-family: PlayfairDisplay;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 2%;
}

.blue-line-left {
  width: 5%;
  height: 15px;
  border-bottom: 1px solid #58d3f6;
  margin-left: 10%;
}

.case__done__desc1__list {
  padding-top: 2%;
  padding-left: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #666;
  margin: 0;
}

.case__done__desc1__list li {
  list-style: none;
  background: url(img/check.png) no-repeat 0 0px;
  background-size: 28px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.case__done__desc2 {
  padding-top: 20%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #666;
  margin: 0;
  background-color: #fafafa;
}

.case__done__desc2 li {
  width: 90%;
  list-style: none;
  background: url(img/check.png) no-repeat 0 0px;
  background-size: 28px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.case__cashflow {
  text-align: center;
  margin-top: 3%;
  height: 550px;
  background-image: url(img/cases/cashflow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.case__cashflow__title {
  padding-top: 9%;
  font-family: "Playfair Display", serif;
  font-size: 103px;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.white-line-center {
  width: 3%;
  height: 15px;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

.case__cashflow__subtitle {
  padding-top: 0.1%;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: normal;
  color: white;
}

.case__result {
  padding-top: 3%;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1%;
  -ms-grid-columns: 49.5% 49.5%;
      grid-template-columns: 49.5% 49.5%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  height: 70vh;
}

.case__result__img {
  background-image: url(img/cases/result.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.case__result__desc__title {
  text-align: right;
  padding-top: 25%;
  font-family: PlayfairDisplay;
  font-size: 40px;
  font-weight: normal;
  margin: 0 auto;
  padding-bottom: 2%;
}

.blue-line-right {
  width: 5%;
  height: 15px;
  border-bottom: 1px solid #58d3f6;
  margin-left: auto;
}

.case__result__wrap {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

.case__result__wrap ul {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
}

.case__result__wrap li {
  vertical-align: auto;
  margin: 0;
  list-style: none;
  direction: rtl;
  background: url(img/check.png) no-repeat 0 0px;
  background-position: right center;
  background-size: 28px;
  padding-right: 40px;
  line-height: 2;
}

.case__redevelopment {
  padding-top: 3%;
  text-align: center;
}

.case__redevelopment__title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: normal;
}

.case__redevelopment__subtitle {
  padding-top: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 80%;
  margin: 0 auto;
  color: #666666;
}

.logo-lines {
  margin: auto;
  height: 20vh;
  background-image: url(img/logo-lines.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.case__portfolio {
  display: -ms-grid;
  display: grid;
  height: 300vh;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
}

.img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-image: url(img/cases/hall.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img2 {
  background-image: url(img/cases/entrance.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img3 {
  background-image: url(img/cases/stairs.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-image: url(img/cases/car.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img5 {
  background-image: url(img/cases/handwash.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img6 {
  background-image: url(img/cases/wc.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img7 {
  background-image: url(img/cases/room.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.img8 {
  background-image: url(img/cases/post.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.case__share {
  padding-top: 3%;
  padding-left: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
}

.case__share__socials {
  padding-left: 1%;
  font-size: 20px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.case__share__socials i {
  padding-right: 15px;
}

.case__other-projects {
  display: none;
}

footer {
  width: 100%;
  margin: auto;
  background-color: #f5f8fa;
  margin-top: 4%;
  margin-bottom: 4%;
  height: 38vh;
}

footer p {
  margin-top: 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
}

.footer-desc {
  width: 15vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

.footer-desc-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.footer-desc-line2 {
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.footer-desc-line3 {
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.footer-socials {
  padding-top: 3%;
  padding-left: 3%;
}

.footer-socials-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.07;
  text-align: left;
}

.footer-socials-list {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
}

.footer-socials-list a {
  color: black;
}

.footer-socials-list i {
  padding-right: 10px;
}

.footer-contacts {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  background-color: white;
  height: 40vh;
  width: 15vw;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin: 0 auto;
}

.footer-contacts img {
  padding-bottom: 24px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
  text-decoration: underline;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20vh;
  padding-left: 0;
  padding-right: 3%;
}

.footer-menu a {
  color: #666;
}

.footer-up-button {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 8%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
}

.footer-up-button a {
  color: #666666;
}

@media screen and (max-width: 1650px) {
  .case__definition__title {
    width: 80%;
  }
}

@media screen and (max-width: 1420px) {
  .header-title {
    font-size: 44px;
    width: 90%;
  }
  header {
    -ms-grid-rows: 35% 19% 37%;
        grid-template-rows: 35% 19% 37%;
  }
  .header-menu {
    font-size: 15px;
  }
}

@media screen and (max-width: 1110px) {
  header {
    height: 100px;
    -ms-grid-rows: 35% 18% 37%;
        grid-template-rows: 35% 18% 37%;
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
  }
  .header-menu li {
    padding-right: 5%;
  }
  .footer-desc-title {
    font-size: 20px;
  }
  .footer-desc-line2 {
    font-size: 15px;
  }
  .footer-desc-line3 {
    font-size: 15px;
  }
  .footer-socials-title {
    font-size: 20px;
  }
  .footer-socials-list {
    font-size: 15px;
  }
  .footer-contacts {
    font-size: 15px;
  }
  .footer-contacts img {
    width: 85%;
  }
  .footer-menu {
    font-size: 15px;
  }
  .case__definition__title {
    font-size: 40px;
  }
  .case__definition__subtitle {
    font-size: 15px;
    width: 95%;
  }
  .case__intro__img {
    height: 40vh;
  }
  .case__done {
    height: 80vh;
  }
  .case__done__desc1__list {
    font-size: 15px;
  }
  .case__done__desc1__title {
    font-size: 34px;
  }
  .case__done__desc2 {
    font-size: 15px;
  }
  .case__cashflow {
    height: 300px;
  }
  .case__cashflow__title {
    padding-top: 3%;
  }
  .case__result {
    height: 40vh;
  }
  .case__result__desc__title {
    font-size: 34px;
  }
  .case__result__wrap ul {
    font-size: 15px;
  }
  .case__redevelopment__title {
    font-size: 34px;
  }
  .case__redevelopment__subtitle {
    font-size: 15px;
    padding-top: 1%;
  }
  .logo-lines {
    height: 10vh;
  }
  .case__portfolio {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    height: 300vh;
  }
  .img1 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img2 {
    -ms-grid-column: 1;
    grid-column: 1;
    background-size: cover;
  }
  .img3 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img4 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img5 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img6 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img7 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .img8 {
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 750px) {
  header {
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-logo {
    padding-top: 20%;
    padding-left: 20%;
  }
  nav {
    text-align: center;
    width: 100%;
    display: block;
  }
  .header-menu {
    font-size: 17px;
    width: 100%;
  }
  .header-menu li:last-child {
    padding-right: 0;
  }
  .footer-wrap {
    width: 100%;
  }
  .footer-desc-title {
    font-size: 18px;
  }
  .footer-desc-line2 {
    font-size: 13px;
  }
  .footer-desc-line3 {
    font-size: 13px;
  }
  .footer-socials-title {
    font-size: 18px;
  }
  .footer-socials-list {
    font-size: 13px;
  }
  .footer-contacts {
    font-size: 13px;
  }
  .footer-contacts img {
    width: 85%;
  }
  .footer-menu {
    font-size: 13px;
  }
  .footer-up-button {
    font-size: 15px;
  }
  .case__definition__title {
    font-size: 32px;
  }
  .case__definition__subtitle {
    font-size: 12px;
    width: 95%;
  }
  .case__intro__img {
    margin: 0;
    margin-top: 5%;
    height: 40vh;
  }
  .case__done {
    height: 80vh;
  }
  .case__done ul {
    padding: 5%;
  }
  .case__done__desc1__list {
    font-size: 12px;
  }
  .case__done__desc1__title {
    padding-top: 8%;
    font-size: 28px;
  }
  .case__done__desc2 {
    font-size: 12px;
    padding-top: 15%;
  }
  .case__cashflow {
    height: 150px;
  }
  .case__cashflow__title {
    font-size: 50px;
    padding-top: 0;
  }
  .case__cashflow__subtitle {
    margin: 0;
    padding-top: 1%;
  }
  .case__result {
    height: 40vh;
  }
  .case__result__desc__title {
    padding-top: 15%;
    font-size: 28px;
  }
  .case__result__wrap ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 5%;
    font-size: 15px;
  }
  .case__redevelopment__title {
    font-size: 28px;
  }
  .case__redevelopment__subtitle {
    font-size: 12px;
    padding-top: 1%;
  }
  .case__share__title {
    margin: 5px;
  }
  .case__done {
    height: 200vh;
    grid-gap: 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
  }
  .case__done__img1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .case__done__img2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .case__done__desc1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .case__done__desc2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .logo-lines {
    height: 18vh;
  }
  .case__result {
    grid-gap: 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    height: 100vh;
  }
  .case__result__desc__title {
    text-align: center;
  }
  .case__result__wrap {
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }
  .blue-line-right {
    display: none;
  }
  .case__result__wrap li {
    background: none;
    padding: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer-up-button {
    display: none;
  }
  .footer-contacts {
    width: 20vw;
  }
  header {
    display: block;
    height: 150px;
  }
  .header-title {
    padding-top: 10%;
  }
  .wrap-logo {
    padding-top: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-logo img {
    text-align: center;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 160px;
  }
  footer {
    height: 33vh;
  }
  .footer-menu {
    height: 12vh;
  }
  .footer-desc-title {
    font-size: 14px;
  }
  .footer-desc-line2 {
    font-size: 10px;
  }
  .footer-desc-line3 {
    font-size: 10px;
  }
  .footer-socials-title {
    font-size: 14px;
  }
  .footer-socials-list {
    font-size: 10px;
  }
  .footer-contacts {
    font-size: 10px;
    height: 33vh;
  }
  .footer-contacts img {
    width: 85%;
  }
  .footer-menu {
    font-size: 10px;
  }
  .footer-up-button {
    font-size: 10px;
  }
}
/*# sourceMappingURL=cases.css.map */