@import fonts.sass
body
  margin: 0

header

  background-image: url(img/cases/main.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  display: grid
  grid-template-areas: "wrap-logo header-menu" ". header-title" ". header-subtitle"
  grid-template-rows: 35% 24% 37%
  grid-template-columns: 58% 42%
  height: 775px

nav
  margin: 0
  padding-top: 10%
  width: 100%
  display: inline
  margin-left: auto
  margin-right: auto

.header-logo
  grid-area: header-logo

.header-menu
  color: white
  font-family: $subtitle
  font-size: 18px
  grid-area: header-menu
  margin: 0
  padding: 0

.header-menu li
  display: inline
  padding-right: 10%

.header-menu a
  text-decoration: none
  color: black

.header-menu a:hover
  color: #16c1f3

.wrap-logo
  grid-area: wrap-logo
  padding-top: 8%
  padding-left: 10%

.case__definition
  padding-top: 5%
  text-align: center

.case__definition__title
  font-family: PlayfairDisplay
  font-size: 48px
  font-weight: normal

  width: 20%
  margin: 0 auto
  padding-bottom: 2%

.blue-line-center
  width: 3%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin: 0 auto

.case__definition__subtitle
  width: 60%
  margin: 0 auto
  padding-top: 2%
  font-family: $subtitle
  font-size: 22px
  font-weight: normal
  text-align: center
  color: #666666

.case__intro__img
  margin-top: 5%
  background-image: url(img/cases/second.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  height: 90vh
  margin-bottom: 5%

.case__done
  width: 100%
  margin: 0 auto
  display: grid
  grid-gap: 1%
  grid-template-columns: 49.5% 49.5%
  grid-template-rows: 49.5% 49.5%
  height: 140vh

.case__done__img1
  background-image: url(img/cases/done_1.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.case__done__img2
  background-image: url(img/cases/done_2.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.case__done__desc1
  background-color: #fafafa

.case__done__desc1__title
  padding-left: 10%
  padding-top: 17%
  font-family: PlayfairDisplay
  font-size: 40px
  font-weight: normal
  margin: 0
  padding-bottom: 2%

.blue-line-left
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin-left: 10%

.case__done__desc1__list
  padding-top: 2%
  padding-left: 5%
  font-family: $subtitle
  font-size: 22px
  font-weight: normal
  color: #666
  margin: 0

.case__done__desc1__list li
  list-style: none
  background: url(img/check.png) no-repeat 0 0px
  background-size: 28px
  padding-left: 40px
  padding-bottom: 20px

.case__done__desc2
  padding-top: 20%
  width: 100%
  font-family: $subtitle
  font-size: 22px
  font-weight: normal
  color: #666
  margin: 0
  background-color: #fafafa

.case__done__desc2 li
  width: 90%
  list-style: none
  background: url(img/check.png) no-repeat 0 0px
  background-size: 28px
  padding-left: 40px
  padding-bottom: 20px

.case__cashflow
  text-align: center
  margin-top: 3%
  height: 550px
  background-image: url(img/cases/cashflow.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: top center

.case__cashflow__title
  padding-top: 9%
  font-family: $title
  font-size: 103px
  font-weight: normal
  color: #fff
  margin: 0

.white-line-center
  width: 3%
  height: 15px
  border-bottom: 1px solid white
  margin: 0 auto

.case__cashflow__subtitle
  padding-top: 0.1%
  font-family: OpenSans
  font-size: 22px
  font-weight: normal
  color: white

.case__result
  padding-top: 3%
  width: 100%
  margin: 0 auto
  display: grid
  grid-gap: 1%
  grid-template-columns: 49.5% 49.5%
  grid-template-rows: 100%
  height: 70vh

.case__result__img
  background-image: url(img/cases/result.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.case__result__desc__title
  text-align: right
  padding-top: 25%
  font-family: PlayfairDisplay
  font-size: 40px
  font-weight: normal
  margin: 0 auto
  padding-bottom: 2%

.blue-line-right
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin-left: auto

.case__result__wrap

  text-align: right
  width: 70%
  margin: 0 auto

.case__result__wrap ul
  color: #666666
  font-family: $subtitle
  font-size: 22px
  font-weight: normal
  list-style-position:

.case__result__wrap li
  vertical-align: auto
  margin: 0
  list-style: none
  direction: rtl
  background: url(img/check.png) no-repeat 0 0px
  background-position: right center
  background-size: 28px
  padding-right: 40px
  line-height: 2

.case__redevelopment
  padding-top: 3%
  text-align: center

.case__redevelopment__title
  font-family: $title
  font-size: 40px
  font-weight: normal

.case__redevelopment__subtitle
  padding-top: 2%
  font-family: $subtitle
  font-size: 22px
  font-weight: normal
  width: 80%
  margin: 0 auto
  color: #666666

.logo-lines
  margin: auto
  height: 20vh
  background-image: url(img/logo-lines.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.case__portfolio
  display: grid
  height: 300vh
  grid-template-columns: 50% 50%
  grid-template-rows: 20% 20% 20% 20% 20%

.img1
  grid-column: 1/3
  background-image: url(img/cases/hall.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img2
  background-image: url(img/cases/entrance.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img3
  background-image: url(img/cases/stairs.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img4
  grid-column: 1/3
  background-image: url(img/cases/car.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img5
  background-image: url(img/cases/handwash.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img6
  background-image: url(img/cases/wc.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img7
  background-image: url(img/cases/room.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.img8
  background-image: url(img/cases/post.png)
  background-size: auto
  background-repeat: no-repeat
  background-position: center center

.case__share
  padding-top: 3%
  padding-left: 5%
  font-family: $subtitle
  font-size: 22px
  font-weight: normal

.case__share__socials
  padding-left: 1%
  font-size: 20px
  color: #333
  display: flex
  width: 100%

.case__share__socials i
  padding-right: 15px

.case__other-projects
  display: none

footer
  width: 100%
  margin: auto
  background-color: #f5f8fa
  margin-top: 4%
  margin-bottom: 4%
  height: 38vh

footer p
  margin-top: 0

.footer-wrap
  display: flex
  justify-content: space-between
  width: 90%
  margin: auto
  position: relative

.footer-desc
  width: 15vw
  padding-left: 3%
  padding-right: 3%
  padding-top: 3%

.footer-desc-title
  font-family: $footer
  font-size: 24px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.07
  letter-spacing: normal
  text-align: left
  color: #000000
  text-transform: uppercase

.footer-desc-line2
  width: 100%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666

.footer-desc-line3
  width: 100%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666

.footer-socials
  padding-top: 3%
  padding-left: 3%

.footer-socials-title
  font-family: Roboto
  font-size: 24px
  font-weight: normal
  font-style: normal
  line-height: 1.07
  text-align: left

.footer-socials-list
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.54
  letter-spacing: normal
  text-align: left

.footer-socials-list a
  color: black

.footer-socials-list i
  padding-right: 10px

.footer-contacts
  padding-left: 3%
  padding-right: 3%
  padding-top: 3%
  background-color: white
  height: 40vh
  width: 15vw
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666
  margin: 0 auto

.footer-contacts img
  padding-bottom: 24px

.footer-menu
  display: flex
  flex-direction: column
  padding-top: 3%
  text-decoration: underline
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  text-align: left
  color: #666666
  justify-content: space-between
  height: 20vh
  padding-left: 0
  padding-right: 3%

.footer-menu a
  color: #666

.footer-up-button
  padding-left: 3%
  padding-right: 3%
  padding-top: 8%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.82
  letter-spacing: normal
  text-align: left

.footer-up-button a
  color: #666666
