@import fonts.sass
   

body
  margin: 0

a
  text-decoration: none

header 
  background-image: url(img/header-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  display: grid
  grid-template-areas: "wrap-logo header-menu" ". header-title" ". header-subtitle"
  grid-template-rows: 35% 24% 37%
  grid-template-columns: 58% 42% 
  height: 80vh
  

nav
  margin: 0
  padding-top: 10%
  width: 100%
  display: inline
  margin-left: auto
  margin-right: auto

.header-logo
  grid-area: header-logo

.header-menu
  color: white
  font-family: $subtitle
  font-size: 18px
  grid-area: header-menu
  margin: 0
  padding: 0

.header-menu li 
  display: inline
  padding-right: 10%

.header-menu a
  text-decoration: none
  color: black

.header-title
  width: 80%
  grid-area: header-title
  font-family: $title
  text-decoration: none
  font-weight: normal
  font-size: 52px

.header-subtitle
  font-family: $subtitle
  font-weight: normal
  font-size: 22px
  grid-area: header-subtitle
  align-self: start

.wrap-logo
  grid-area: wrap-logo
  padding-top: 8%
  padding-left: 10%

.diff-types
  font-family: $subtitle
  font-weight: normal
  font-size: 18px
  font-style: normal
  display: grid
  width: 80%
  grid-template-columns: 22% 22% 22% 22%
  margin-left: auto
  margin-right: auto
  grid-column-gap: 4%


.diff-types img
  width: 100%

.office-title
  text-align: center

.office
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15)

.property-types-title
  font-family: $title
  font-weight: normal
  font-size: 41px
  padding-top: 10vh
  padding-left: 15%
  padding-bottom: 5vh

.change
  padding-top: 1vh
  background-image: url(img/change-bg.png)
  background-size: 90%
  background-repeat: no-repeat
  background-position: bottom left
  height: 800px
  display: grid
  grid-template-areas: ". ."". change-title" ". blue-line" ". change-subtitle"
  grid-template-rows: 35% 22% 5% 35%
  grid-template-columns: 50% 50% 

.change-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: change-title

.blue-line
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin-left: auto

.blue-line-left
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6

.blue-line-left2
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6

.blue-line-center
  grid-area: blue-line
  width: 3%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin: auto

.change-subtitle
  width: 90%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: change-subtitle

.automate
  text-align: right
  margin-left: auto
  margin-right: auto
  padding-top: 1vh
  background-image: url(img/automate-bg.png)
  background-size: 80%
  background-repeat: no-repeat
  background-position: bottom right
  height:  90vh
  display: grid
  grid-template-areas: ". .""automate-title ." "blue-line ." "automate-subtitle ."
  grid-template-rows: 35% 17% 5% 25%
  grid-template-columns: 52% 48% 
  text-align: end

.automate-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: automate-title
  margin-left: auto
  text-align: right

.automate-subtitle
  width: 80%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: automate-subtitle
  margin-left: auto
  text-align: right


.cashflow
  margin-top: 50px
  height: 550px
  background-image: url(img/cashflow-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  display: grid
  grid-template-areas: "cashflow-title" "white-line" "cashflow-subtitle"
  grid-template-rows: 57% 1% 20%


.cashflow-title
  font-size: 113px
  font-weight: normal
  font-family: $title
  grid-area: cashflow-title
  margin: auto
  font-size: 103px
  padding-top: 8%
  color: white



.cashflow-subtitle
  font-size: 18px
  margin: auto
  width: 50%
  font-weight: normal
  font-family: $subtitle
  grid-area: cashflow-subtitle
  margin: auto
  color: white
  text-align: center

.white-line
  grid-area: white-line
  width: 5%
  height: 1px
  border-bottom: 1px solid white
  margin: auto

.audit
  padding-top: 15vh
  width: 80%
  margin: auto

.audit-title
  width: 80%
  font-size: 40px
  font-weight: normal
  font-family: $title
  margin: auto
  padding-bottom: 1.5vh
  text-align: center

.audit-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  margin: auto
  padding-top: 3vh
  text-align: center

.audit-actions
  width: 80%
  margin: auto
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-top: 3vh
  display: grid
  grid-template-areas: "a1 a2" "a3 a4"
  grid-template-rows: 48% 48%
  grid-gap: 4%
.audit-actions p
  display: inline-block
  padding-left: 20px
  padding-right: 20px

.action1
  grid-area: a1
  text-align: right

.action3
  grid-area: a3
  text-align: right
  
.check 
  width: 36px
  height: 56px
  display: inline-block
  background-image: url(img/check.png)
  background-size: 36px 36px
  background-repeat: no-repeat
  background-position: right bottom

.irrelevant
  margin-top: 10vh
  height: 1100px
  background-image: url(img/irrelevant-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: top left
  display: grid
  grid-template-areas: ". ."". irrelevant-title" ". blue-line" ". irrelevant-subtitle"
  grid-template-rows: 20% 15% 3% 45%
  grid-template-columns: 52% 48% 

.irrelevant-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: irrelevant-title

.irrelevant-subtitle
  width: 90%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: irrelevant-subtitle
  width: 80%

.own-system
  width: 90%
  padding-top: 10vh
  margin: auto
  padding-bottom: 14vh
  text-align: center

.own-system-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  line-height: 1.2

.own-system-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 3vh
  line-height: 1.68

.how
  width: 100%
  margin: auto
  height: 1400px
  display: grid
  grid-template-areas: "shtern-img how-desc" "any-budget old-man-img"
  grid-template-rows: 50% 50%
  grid-template-columns: 50% 50%
  grid-gap: 20px

.shtern-img
  object-fit: cover;
  grid-area: shtern-img
  

.shtern-img img
  object-fit: cover;
  width: 100%
  height: 100%

.how-desc
  width: 100%
  height: 100%
  padding-top: 12%
  padding-left: 15%
  grid-area: how-desc
  background-color: #fafafa

.how-desc-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  width: 80%
  font-size: 40px
  line-height: 52px

.how-desc-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 8%
  padding-top: 4%
  font-size: 22px
  width: 70%

.any-budget
  padding-top: 24%
  padding-left: 20%
  grid-area: any-budget
  background-color: #fafafa

.any-budget-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  width: 90%
  font-size: 40px
  line-height: 52px

.any-budget-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 8%
  padding-top: 4%
  font-size: 22px
  width: 80%

.old-man-img
  grid-area: old-man-img

.old-man-img img
  object-fit: cover;
  width: 100%
  height: 100%

.show-case
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  width: 242px
  height: 64px
  border-radius: 10px
  box-shadow: 2.5px 4.3px 15.7px 0.3px rgba(0, 0, 0, 0.31)
  background-color: #ffffff
  font-size: 20px
  font-weight: normal
  font-family: $subtitle

.transition
  height: 40vh
  background-image: url(img/transition.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center bottom

.pack 
  padding-top: 10vh


.pack-content
  padding-left: 10%
  padding-top: 4%
  display: inline-block
  
.pack-img
  margin-left: 10%
  width: 500px
  height: 500px
  background-color: grey
  float: left
  

.pack-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  right: 10%
  grid-area: pack-title

.pack-subtitle
  width: 80%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: pack-subtitle

.reasons
  margin-top: 30vh
  background-image: url(img/10reasons.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom right
  height: 40vh

.reasons-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  padding-bottom: 2vh
  text-align: center
  color: white
  padding-top: 5%

.reasons-button
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  display: block
  box-sizing: border-box
  margin: 0 auto
  padding: 8px
  width: 80%
  max-width: 200px
  background: #fff
  background: rgba(255, 255, 255, 0)
  border-radius: 8px
  color: #fff
  text-align: center
  text-decoration: none
  letter-spacing: 1px
  transition: all 0.3s ease-out
  border: 1px solid white
  font-size: 22px
  font-weight: normal
  font-family: $subtitle

@media screen and ( max-width:1650px )
  .pack-img
    display: none
  
  .pack-content
    padding-left: 28%
    text-align: center
    padding-top: 0
  
  .pack
    margin: auto
    padding-top: 5vh
  
  .reasons 
    margin-top: 7vh
  
  .blue-line-left2
    display: none

@media screen and ( max-width:1420px )

  .header-title
    font-size: 44px
    width: 90%

  header
    grid-template-rows: 35% 19% 37%

  .header-menu 
    font-size: 15px
  
  .diff-types
    width: 90%
    grid-column-gap: 2%
    grid-template-columns: 24% 24% 24% 24%
  
  .property-types-title
    padding-left: 5%
    padding-top: 5vh
  
  .irrelevant
    background-position: center center
    height: 700px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 15% 3% 45%
  
  .irrelevant-title
    font-size: 35px

  .irrelevant-subtitle
    font-size: 19px
  
  .change
    height: 500px
    grid-template-rows: 20% 22% 5% 35%
  
  .automate
    height:  60vh
    grid-template-rows: 20% 17% 5% 25%
  
  .cashflow
    height: 400px
    grid-template-rows: 55% 1% 25%
  
  .cashflow-title
    padding-top: 3%
  
  .blue-line
    display: none
  
  .blue-line-left
    display: none
  
  .own-system
    padding-top: 3vh
    padding-bottom: 7vh
  
  .transition
    height: 20vh
    background-position: center bottom

  .pack-content
    padding-left: 25%
    text-align: center
    padding-top: 0
  
  .pack
    margin: auto
    padding-top: 5vh
  
  .reasons 
    margin-top: 7vh
    height: 30vh

@media screen and ( max-width:1110px )

  .change-title
    font-size: 32px
  
  .change-subtitle
    font-size: 18px
  
  .automate-title
    font-size: 32px
  
  .automate-subtitle
    font-size: 18px
  
  .pack-content
    padding-left: 16%
  
  .header-menu li
    padding-right: 5%

@media screen and ( max-width:1070px )

  .header-title
    font-size: 35px
  
  .diff-types
    width: 100%
    grid-column-gap: 1%
    grid-template-columns: 25% 25% 25% 24%
  
  .property-types-title
    padding-left: 0
    padding-top: 2vh
    padding-bottom: 2vh
    font-size: 35px
  
  .change-title
    width: 100%
  
  .irrelevant
    background-position: center center
    height: 500px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 15% 3% 45%
  
  .irrelevant-title
    font-size: 30px

  .irrelevant-subtitle
    font-size: 15px
  
  .cashflow-title
    font-size: 80px

  .cashflow
    height: 300px
    grid-template-rows: 55% 1% 25%
  
  .own-system
    padding-top: 2vh
    padding-bottom: 5vh
  
  .own-system-title
    font-size: 30px
  
  .own-system-subtitle
    font-size: 18px
    padding-bottom: 1vh
  
  .pack-title
    font-size: 30px
  
  .pack-subtitle
    font-size: 18px
  
  .pack-content
    padding-left: 20%
  
  .reasons 
    margin-top: 7vh
    height: 25vh
  
  .reasons-title
    font-size: 30px
  
  .reasons-button
    font-size: 18px
  
  .irrelevant
    background-position: center center
    height: 700px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 12% 3% 45%
  
  .how
    padding-bottom: 3vh