@import fonts.sass
   

body
  width: 100%
  margin: 0 

a
  text-decoration: none

header 
  background-image: url(img/header-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  display: grid
  grid-template-areas: "wrap-logo header-menu" ". header-title" ". header-subtitle"
  grid-template-rows: 35% 24% 37%
  grid-template-columns: 58% 42% 
  height: 775px
  

nav
  margin: 0
  padding-top: 10%
  width: 100%
  display: inline
  margin-left: auto
  margin-right: auto

.header-logo
  grid-area: header-logo

.header-menu
  color: white
  font-family: $subtitle
  font-size: 18px
  grid-area: header-menu
  margin: 0
  padding: 0

.header-menu li 
  display: inline
  padding-right: 10%

.header-menu a
  text-decoration: none
  color: black

.header-menu a:hover
  color: #16c1f3

.header-title
  width: 80%
  grid-area: header-title
  font-family: $title
  text-decoration: none
  font-weight: normal
  font-size: 52px

.header-subtitle
  font-family: $subtitle
  font-weight: normal
  font-size: 22px
  grid-area: header-subtitle
  align-self: start

.wrap-logo
  grid-area: wrap-logo
  padding-top: 8%
  padding-left: 10%

.diff-types
  font-family: $subtitle
  font-weight: normal
  font-size: 18px
  font-style: normal
  display: grid
  width: 80%
  grid-template-columns: 22% 22% 22% 22%
  margin-left: auto
  margin-right: auto
  grid-column-gap: 4%


.diff-types img
  width: 100%

.office-title
  text-align: center
 

.office
  border-radius: 20px 4px
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.15)

.office img
  border-radius: 20px 4px

.property-types-title
  font-family: $title
  font-weight: normal
  font-size: 41px
  padding-top: 10vh
  padding-left: 15%
  padding-bottom: 5vh

.change
  padding-top: 1vh
  background-image: url(img/change-bg.png)
  background-size: 90%
  background-repeat: no-repeat
  background-position: bottom left
  height: 800px
  display: grid
  grid-template-areas: ". ."". change-title" ". blue-line" ". change-subtitle"
  grid-template-rows: 35% 22% 5% 35%
  grid-template-columns: 50% 50% 

.change-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: change-title

.blue-line
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin-left: auto

.blue-line-left
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6

.blue-line-left2
  grid-area: blue-line
  width: 5%
  height: 15px
  border-bottom: 1px solid #58d3f6

.blue-line-center
  grid-area: blue-line
  width: 3%
  height: 15px
  border-bottom: 1px solid #58d3f6
  margin: auto

.change-subtitle
  width: 90%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: change-subtitle

.automate
  text-align: right
  margin-left: auto
  margin-right: auto
  padding-top: 1vh
  background-image: url(img/automate-bg.png)
  background-size: 80%
  background-repeat: no-repeat
  background-position: bottom right
  height:  700px
  display: grid
  grid-template-areas: ". .""automate-title ." "blue-line ." "automate-subtitle ."
  grid-template-rows: 35% 17% 5% 25%
  grid-template-columns: 52% 48% 
  text-align: end

.automate-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: automate-title
  margin-left: auto
  text-align: right

.automate-subtitle
  width: 80%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: automate-subtitle
  margin-left: auto
  text-align: right


.cashflow
  margin-top: 50px
  height: 550px
  background-image: url(img/cashflow-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  display: grid
  grid-template-areas: "cashflow-title" "white-line" "cashflow-subtitle"
  grid-template-rows: 57% 1% 20%


.cashflow-title
  font-size: 113px
  font-weight: normal
  font-family: $title
  grid-area: cashflow-title
  margin: auto
  font-size: 103px
  padding-top: 8%
  color: white



.cashflow-subtitle
  font-size: 18px
  margin: auto
  width: 50%
  font-weight: normal
  font-family: $subtitle
  grid-area: cashflow-subtitle
  margin: auto
  color: white
  text-align: center

.white-line
  grid-area: white-line
  width: 5%
  height: 1px
  border-bottom: 1px solid white
  margin: auto

.audit
  padding-top: 15vh
  width: 80%
  margin: auto

.audit-title
  width: 80%
  font-size: 40px
  font-weight: normal
  font-family: $title
  margin: auto
  padding-bottom: 1.5vh
  text-align: center

.audit-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  margin: auto
  padding-top: 3vh
  text-align: center

.audit-actions
  width: 90%
  margin: auto
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-top: 3vh
  display: grid
  grid-template-areas: "a1 a2" "a3 a4"
  grid-template-rows: 48% 48%
  grid-gap: 4%

.audit-actions p
  vertical-align: super
  display: inline-block
  padding-left: 20px
  padding-right: 20px

.action1
  grid-area: a1
  text-align: right

.action2
  grid-area: a2

.action3
  grid-area: a3
  text-align: right

.action4
  grid-area: a4

.check 
  width: 35px
  height: 35px
  display: inline-block
  background-image: url(img/check.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: right bottom

.irrelevant
  margin-top: 10vh
  height: 1100px
  background-image: url(img/irrelevant-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: top left
  display: grid
  grid-template-areas: ". ."". irrelevant-title" ". blue-line" ". irrelevant-subtitle"
  grid-template-rows: 20% 15% 3% 45%
  grid-template-columns: 52% 48% 

.irrelevant-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  grid-area: irrelevant-title

.irrelevant-subtitle
  width: 90%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: irrelevant-subtitle
  width: 80%

.own-system
  width: 90%
  padding-top: 10vh
  margin: auto
  padding-bottom: 14vh
  text-align: center

.own-system-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  line-height: 1.2

.own-system-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 3vh
  line-height: 1.68

.how
  width: 100%
  margin: auto
  height: 1400px
  display: grid
  grid-template-areas: "shtern-img how-desc" "any-budget old-man-img"
  grid-template-rows: 50% 50%
  grid-template-columns: 49.5% 49.5%
  grid-gap: 1%

.shtern-img
  object-fit: cover;
  grid-area: shtern-img
  

.shtern-img img
  object-fit: cover;
  width: 100%
  height: 100%

.how-desc
  width: 100%
  height: 100%
  grid-area: how-desc
  background-color: #fafafa

.how-wrap
  padding-top: 12%
  padding-left: 15%

.how-desc-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  width: 80%
  font-size: 40px
  line-height: 52px

.how-desc-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 8%
  padding-top: 4%
  font-size: 22px
  width: 70%

.any-budget
  padding-top: 24%
  padding-left: 20%
  grid-area: any-budget
  background-color: #fafafa

.any-budget-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  width: 90%
  font-size: 40px
  line-height: 52px

.any-budget-subtitle
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  padding-bottom: 8%
  padding-top: 4%
  font-size: 22px
  width: 80%

.old-man-img
  grid-area: old-man-img

.old-man-img img
  object-position: right top
  object-fit: cover
  width: 100%
  height: 100%

.show-case
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  width: 60%
  height: 64px
  border-radius: 10px
  box-shadow: 2.5px 4.3px 15.7px 0.3px rgba(0, 0, 0, 0.31)
  background-color: #ffffff
  font-size: 20px
  font-weight: normal
  font-family: $subtitle

.transition
  height: 40vh
  background-image: url(img/transition.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center bottom

.pack 
  padding-top: 10vh


.pack-content
  padding-left: 10%
  padding-top: 4%
  display: inline-block
  
.pack-img
  margin-left: 10%
  width: 500px
  height: 500px
  background-color: grey
  float: left
  

.pack-title
  width: 90%
  font-size: 40px
  font-weight: normal
  font-family: $title
  right: 10%
  grid-area: pack-title

.pack-subtitle
  width: 80%
  font-size: 22px
  font-weight: normal
  font-family: $subtitle
  grid-area: pack-subtitle

.reasons
  margin-top: 30vh
  background-image: url(img/10reasons.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom right
  height: 40vh

.reasons-title
  font-size: 40px
  font-weight: normal
  font-family: $title
  padding-bottom: 2vh
  text-align: center
  color: white
  padding-top: 5%

.reasons-button
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  display: block
  box-sizing: border-box
  margin: 0 auto
  padding: 8px
  width: 80%
  max-width: 200px
  background: #fff
  background: rgba(255, 255, 255, 0)
  border-radius: 8px
  color: #fff
  text-align: center
  text-decoration: none
  letter-spacing: 1px
  transition: all 0.3s ease-out
  border: 1px solid white
  font-size: 22px
  font-weight: normal
  font-family: $subtitle

footer 
  width: 100%
  margin: auto
  background-color: #f5f8fa 
  margin-top: 4%
  margin-bottom: 4%
  height: 38vh

footer p
  margin-top: 0

.footer-wrap
  display: flex
  justify-content: space-between
  width: 90%
  margin: auto
  position: relative

.footer-desc
  width: 15vw
  padding-left: 3%
  padding-right: 3%
  padding-top: 3%

.footer-desc-title
  font-family: $footer
  font-size: 24px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.07
  letter-spacing: normal
  text-align: left
  color: #000000
  text-transform: uppercase

.footer-desc-line2
  width: 100%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666

.footer-desc-line3
  width: 100%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666

.footer-socials
  padding-top: 3%
  padding-left: 3%

.footer-socials-title
  font-family: Roboto
  font-size: 24px
  font-weight: normal
  font-style: normal
  line-height: 1.07
  text-align: left

.footer-socials-list
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.54
  letter-spacing: normal
  text-align: left

.footer-socials-list a
  color: black

.footer-socials-list i
  padding-right: 10px

.footer-contacts
  padding-left: 3%
  padding-right: 3%
  padding-top: 3%
  background-color: white
  height: 40vh
  width: 15vw
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.29
  letter-spacing: normal
  text-align: left
  color: #666666
  margin: 0 auto

.footer-contacts img 
  padding-bottom: 24px

.footer-menu
  display: flex
  flex-direction: column
  padding-top: 3%
  text-decoration: underline
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  text-align: left
  color: #666666
  justify-content: space-between
  height: 20vh
  padding-left: 0
  padding-right: 3%

.footer-menu a
  color: #666

.footer-up-button
  padding-left: 3%
  padding-right: 3%
  padding-top: 8%
  font-family: Roboto
  font-size: 18px
  font-weight: normal
  font-stretch: condensed
  font-style: normal
  line-height: 1.82
  letter-spacing: normal
  text-align: left

.footer-up-button a
  color: #666666


@media screen and ( max-width:1650px )
  .pack-img
    display: none
  
  .pack-content
    padding-left: 28%
    text-align: center
    padding-top: 0
  
  .pack
    margin: auto
    padding-top: 5vh
  
  .reasons 
    margin-top: 7vh
  
  .blue-line-left2
    display: none
  
@media screen and ( max-width:1540px )

  .audit
    width: 100%

  .audit-actions
    width: 100%
    font-size: 20px

@media screen and ( max-width:1420px )

  .header-title
    font-size: 44px
    width: 90%

  header
    grid-template-rows: 35% 19% 37%

  .header-menu 
    font-size: 15px
  
  .diff-types
    width: 90%
    grid-column-gap: 2%
    grid-template-columns: 24% 24% 24% 24%
  
  .property-types-title
    padding-left: 5%
    padding-top: 5vh
  
  .irrelevant
    background-position: center center
    height: 700px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 15% 3% 45%
  
  .irrelevant-title
    font-size: 35px

  .irrelevant-subtitle
    font-size: 19px
  
  .change
    height: 500px
    grid-template-rows: 20% 22% 5% 35%
  
  .automate
    height:  60vh
    grid-template-rows: 20% 17% 5% 25%
  
  .cashflow
    height: 400px
    grid-template-rows: 55% 1% 25%
  
  .cashflow-title
    padding-top: 3%
  
  .blue-line
    display: none
  
  .blue-line-left
    display: none
  
  .own-system
    padding-top: 3vh
    padding-bottom: 7vh
  
  .transition
    height: 20vh
    background-position: center bottom

  .pack-content
    padding-left: 25%
    text-align: center
    padding-top: 0
  
  .pack
    margin: auto
    padding-top: 5vh
  
  .reasons 
    margin-top: 7vh
    height: 30vh

@media screen and ( max-width:1110px )
  header
    grid-template-rows: 35% 18% 37%
    grid-template-columns: 55% 45%

  .change-title
    font-size: 32px
  
  .change-subtitle
    font-size: 18px
  
  .automate-title
    font-size: 32px
  
  .automate-subtitle
    font-size: 18px
  
  .pack-content
    padding-left: 16%
  
  .header-menu li
    padding-right: 5%

  .footer-desc-title
    font-size: 20px
  
  .footer-desc-line2 
    font-size: 15px
  
  .footer-desc-line3
    font-size: 15px
  
  .footer-socials-title
    font-size: 20px
  
  .footer-socials-list
    font-size: 15px
  
  .footer-contacts
    font-size: 15px
  
  .footer-contacts img
    width: 85%
  
  .footer-menu
    font-size: 15px


@media screen and ( max-width:1070px )
  header
    grid-template-rows: 35% 14% 37%

  .audit-actions
    font-size: 15px
  
  .automate
    height: 500px
  .header-title
    font-size: 35px
  
  .diff-types

    width: 99%
    grid-column-gap: 1%
    grid-template-columns: 24.5% 24.5% 24.5% 24%
  
  .property-types-title
    padding-left: 0
    padding-top: 2vh
    padding-bottom: 2vh
    font-size: 35px
  
  .change-title
    width: 100%
  
  .irrelevant
    background-position: center center
    height: 500px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 15% 3% 45%
  
  .irrelevant-title
    font-size: 30px

  .irrelevant-subtitle
    font-size: 15px
  
  .cashflow-title
    font-size: 80px

  .cashflow
    height: 300px
    grid-template-rows: 55% 1% 25%
  
  .own-system
    padding-top: 2vh
    padding-bottom: 5vh
  
  .own-system-title
    font-size: 30px
  
  .own-system-subtitle
    font-size: 18px
    padding-bottom: 1vh
  
  .pack-title
    font-size: 30px
  
  .pack-subtitle
    font-size: 18px
  
  .pack-content
    padding-left: 20%
  
  .reasons 
    margin-top: 7vh
    height: 25vh
  
  .reasons-title
    font-size: 30px
  
  .reasons-button
    font-size: 18px
  
  .irrelevant
    background-position: center center
    height: 700px
    grid-template-columns: 43% 57% 
    grid-template-rows: 15% 12% 3% 45%
  
  .how
    padding-bottom: 3vh
  
  .header-title
    width: 96%
  
  .footer-socials
    padding-right: 1.1%
  
  .footer-menu
    padding-left: 3%

@media screen and ( max-width:750px )
  
  header 
    background-image: url(img/header-bg-750.png)
    background-color: white
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    background-attachment: fixed
    display: block
    height: 80vw
    align-items: center
  
  nav
    text-align: center
    width: 100%
    display: block
  
  .wrap-logo
    padding-top: 0
    padding-left: 0
    display: flex;
    align-items: center;
  
  .wrap-logo img
    text-align: center
    padding-top: 10%
    margin-left: auto;
    margin-right: auto;
  
  .header-menu 
    font-size: 17px
    width: 100%
  
  .header-title
    width: 100%
    font-size: 30px
    padding-top: 14%
    text-align: center

  .header-subtitle
    font-size: 20px
    text-align: center
  
  .header-menu li:last-child
    padding-right: 0
  
  .diff-types
    font-family: $subtitle
    font-weight: normal
    font-size: 18px
    font-style: normal
    width: 100%
    height: 1150px
    display: flex;
    flex-direction: column
  
  .diff-types img
    width: 100%
  
  .office
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 0
    box-shadow: none

  .office img
    height: 250px
    width: 95%
    object-fit: cover
    border-radius: 0
    margin: 0 auto

  .property-types-title
    text-align: center
    font-size: 22px
  
  .office-title
    font-size: 15px
    padding-bottom: 5px
  
  .change-title
    font-size: 25px
    width: 80%
  
  .change-subtitle
    font-size: 16px
  
  .change
    grid-template-rows: 40% 22% 8% 35%
    padding-top: 0
    background-size: 110%
  
  .automate-title
    font-size: 25px
  
  .automate-subtitle
    font-size: 16px
  
  .automate
    height: 400px
  
  .cashflow
    height: 200px
  
  .cashflow-title
    font-size: 60px
  
  .cashflow-subtitle
    font-size: 15px
  
  .footer-wrap
    width: 100%

  .footer-desc-title
    font-size: 18px
  
  .footer-desc-line2 
    font-size: 13px
  
  .footer-desc-line3
    font-size: 13px
  
  .footer-socials-title
    font-size: 18px
  
  .footer-socials-list
    font-size: 13px
  
  .footer-contacts
    font-size: 13px
  
  .footer-contacts img
    width: 85%
  
  .footer-menu
    font-size: 13px
  
  .footer-up-button
    font-size: 15px
  
  .pack-content
    padding-left: 15%
  
  .irrelevant-title
    font-size: 27px

@media screen and ( max-width:600px )
  .reasons-title
    padding-top: 10%
    font-size: 18px
  
  .reasons-button
    font-size: 15px
    width: 40%

  header
    height: 100vw
  
  .header-title
    padding-top: 20%
  
  .change
    margin-top: 10%
    grid-template-rows: 55% 22% 1% 35%
  
  .property-types
    height: 1030px
  
  .change-title
    font-size: 20px
    width: 90%
  
  .change-subtitle
    font-size: 14px
  
  .automate
    height: 300px
    grid-template-rows: 30% 17% 10% 25%
  
  .automate-title
    width: 90%
    font-size: 20px
  
  .automate-subtitle
    width: 95%
    font-size: 14px
  
  .audit
    padding-top: 8vh

  .audit-title
    font-size: 22px
  
  .audit-subtitle
    font-size: 18px

  .audit-actions
    font-size: 14px
  
  .irrelevant
    grid-template-columns: 38% 62% 
    grid-template-rows: 5% 14% 3% 45%
    height: 500px

  .irrelevant-title
    font-size: 20px
  
  .irrelevant-subtitle
    width: 95%
    font-size: 15px
  
  .own-system-title
    font-size: 24px
  
  .own-system-subtitle
    font-size: 15px
  
  .logo-lines img
    width: 80%
  
  .how
    width: 100%
    margin: auto
    height: 1400px
    display: grid
    grid-template-areas:  "how-desc" "shtern-img" "any-budget" "old-man-img"
    grid-template-rows: 25% 25% 25% 25%
    grid-template-columns: 100%
    grid-gap: 1%
    padding-bottom: 5vh
  
  .how-desc-title
    font-size: 22px
  
  .how-wrap
    padding-top: 5%

  .how-desc-subtitle
    font-size: 16px
    padding-bottom: 5%

  .show-case
    width: 50%
    height: 50px
    font-size: 16px
  
  .any-budget
    padding: 0
    width: 100%
    text-align: center
    margin: 0

  .any-budget-title
    padding-top: 10%
    font-size: 24px
    width: 100%
  
  .any-budget-subtitle
    width: 80%
    font-size: 18px
    text-align: center
    margin: 0 auto
    padding-top: 7%
  
  .footer-up-button
    display: none
  
  .footer-contacts
    width: 20vw
  
  @media screen and ( max-width:450px )
    
  footer
    height: 33vh
  
  .footer-menu
    height: 12vh

  .footer-desc-title
    font-size: 14px
  
  .footer-desc-line2 
    font-size: 10px
  
  .footer-desc-line3
    font-size: 10px
  
  .footer-socials-title
    font-size: 14px
  
  .footer-socials-list
    font-size: 10px
  
  .footer-contacts
    font-size: 10px
    height: 33vh
  
  .footer-contacts img
    width: 85%
  
  .footer-menu
    font-size: 10px
  
  .footer-up-button
    font-size: 10px
  
  header 
    height: 500px
  
  .change-title
    font-size: 18px
    width: 90%
  
  .change-subtitle
    font-size: 12px
  
  .automate-title
    font-size: 18px
  
  .automate-subtitle
    font-size: 12px
  
  .cashflow-subtitle
    width: 80%
  
  .irrelevant-title
    font-size: 18px

  .irrelevant-subtitle
    font-size: 12px
  
  .show-case
    font-size: 14px
  
  .pack-subtitle
    width: 100%
  
  .pack-title
    width: 100%
  .pack-content
    padding-left: 3%